<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="login-container">
    <div class="login-box">
        
        
        <form>
            <div class="input-group">
                <label for="username">Email</label>
                <input type="email" id="username" >
            </div>
            
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" >
            </div>
            
            <button type="submit" class="login-button">
                Log In
            </button>
        </form>
        
        <div class="link-section">
            <a href="#">Forgot your password?</a>
            <span>•</span>
            <p>No Account? <a href="#"><strong>Sign Up Here</strong></a></p>
        </div>
    </div>
    
    <div class="background-caption">
        <p>The Philippines: It’s more than an island, it's an adventure.</p>
    </div>
</div>
</body>
</html>

